<script>
	import { enhance } from '$app/forms';
	import { form_show } from '$lib/store.js';
	import { form_show2 } from '$lib/store.js';
	import Modal from '$lib/Comps/modal.svelte';
	import { page } from '$app/stores';
	import { parse } from 'postcss';
	import Modalconfirm from '$lib/Comps/modalconfirm.svelte';

	$: ({ todousers } = data);


	/**  @type {import('./$types').ActionData} */
	export let form;


	export let data;

	let userRole = data.prava




	const showModal = (obj) => {
		selected_country = { ...obj };
		$form_show = true;
	};
	const showModalConfirm = (obj) => {
		selected_country = { ...obj };
		$form_show2 = true;
	};

	/**{Object.<string, number>} */
	let selected_country = {};

	function convertstringTodate(mystring){
		console.log(mystring)
		mystring = Date.parse(mystring)
		const newdate = new Date(mystring)
		let returndate;
		returndate = newdate.toLocaleDateString("ru-RU")
		return returndate
	}
	
</script>

<Modal currobj={selected_country} />
<Modalconfirm currobj3 = {selected_country}/>
<button></button>
{#if todousers}
	<div>
		{#if $page.form?.error}
			{$page.form.error}
		{/if}
	</div>
	<div class="overflow-x-auto mt-0 z-0">
		<table class="table table-zebra w-full">
			<thead>
				<tr>
					{#if userRole == "ADMINISTATOR"}
						<th>ID</th>
					{:else}
						<th class="cursor-pointer" on:keyup={null} on:click={() => showModal()}>➕</th>
					{/if}
					<th>Дата создания</th>
					<th>Задание</th>
					<th>Срок выполнения</th>
					<th>Состояние</th>
					{#if userRole == "ADMINISTATOR"}
					{:else}
						<th>Изменить</th>
						<th>Удалить</th>
					{/if}
				</tr>
			</thead>
			<tbody>
				{#each todousers as onetodos}
					<tr>
						<th>{onetodos.ToDo_ID}</th>
						<th>{convertstringTodate(onetodos.DateCreation)} </th>
						<th>{onetodos.Task}</th>
						<th>{convertstringTodate(onetodos.DueDate)}</th>
						{#if onetodos.MarkingForDeletion == null}
						<th>---</th>
						{/if}
						{#if onetodos.MarkingForDeletion == true}
						<th>Сделано</th>
						{/if}
						{#if onetodos.MarkingForDeletion == false}
						<th>В процессе</th>
						{/if}
						{#if userRole == "ADMINISTATOR"}
							 <!-- content here -->
						{:else}
							<td class="cursor-pointer" on:keyup={null} on:click={() => showModal(onetodos)}>
								✎
							</td>
							<td class="cursor-pointer" on:keyup={null} on:click={() => showModalConfirm(onetodos)}>
								✘
							</td>
						{/if}
					</tr>
				{/each}
			</tbody>
		</table>
	</div>
{/if}

