<script>
    import dance from "$lib/images/dance.gif"
</script>

    <img class="myimage" src={dance} alt="">

<style>
    .myimage{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
</style>


