<script>
    import { enhance } from '$app/forms';
	import { page } from '$app/stores';
	import { parse } from 'postcss';
    import { form_show3 } from '$lib/store.js';

    import Modaleditprofle from '$lib/Comps/modaleditprofile.svelte';

	$: ({ profiledata } = data);

	/**  @type {import('./$types').ActionData} */
	export let form;

    const showmodaledit = (obj) => {
		selected_country = { ...obj };
		$form_show3 = true;
	};


	export let data;

	let userFIO = data.userFIO;
    let email = data.email;
    let telephone = data.telephone;
    let username = data.username;
    let selected_country = {};

</script>

<Modaleditprofle currobj4 = {selected_country}/>

{#if data}
    <div class = "main">
        <div class="min-w-screen min-h-screen bg-gray-200 flex items-center justify-center px-5 py-5">
            <div class="rounded-lg shadow-xl bg-gray-900 text-white" style="width:450px;">
                <div class="border-b border-gray-800 px-8 py-3">
                    <div class="inline-block w-3 h-3 mr-2 rounded-full bg-red-500"></div>
                    <div class="inline-block w-3 h-3 mr-2 rounded-full bg-yellow-300"></div>
                    <div class="inline-block w-3 h-3 mr-2 rounded-full bg-green-400"></div>
                </div>
                <div class="px-8 py-6">
                    <p>
                        <em class="text-blue-400">const</em> 
                        <span class="text-green-400">aboutMe</span> 
                        <span class="text-pink-500">=</span>
                        <em class="text-blue-400">function</em>() 
                    </p>
                    <p>&nbsp;&nbsp;
                        <span class="text-pink-500">return</span>
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;name: 
                        <span class="text-yellow-300">{userFIO}</span>,
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;email: 
                        <span class="text-yellow-300">{email}</span>,
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;telephone: 
                        <span class="text-yellow-300">{telephone}</span>,
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;nickname: 
                        <span class="text-yellow-300">{username}</span>
                    </p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn" disabled={true} on:keyup={null} on:click={() => showmodaledit(data)}>Click me to edit!</button></p>
                    <p>}</p>
                </div>
            </div>
        </div>
    </div>      
{/if}

<style>

</style>