<script>
	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;

	let yes = true;

	function validatePhoneNumber() {
	const phoneInput = document.getElementById("phone");
	const submitBtn = document.getElementById("submit-btn");
	const phoneNumber = phoneInput.value;

	// Проверяем, что номер состоит только из цифр
	const isValid = /^\d+$/.test(phoneNumber);

	if (isValid)
	{
		submitBtn.disabled = false;
		phoneInput.classList.remove("invalid");
	}
	else 
	{
		submitBtn.disabled = true;
		phoneInput.classList.add("invalid");
	}
}
</script>

<div class="card w-96 bg-primary text-primary-content mb-10 mt-5 m-auto">
	<div class="card-body">
		<h2 class="card-title">Регистрация</h2>
		<div>
			{#if form?.user}
				Пользователь с таким именем уже есть
			{/if}
		</div>
		<!-- <div>{JSON.stringify(data)}</div> -->

		<form action="?/register" method="POST">
			<div class="form-control w-full max-w-xs">
				<label class="label" for="username">
					<span class="label-text">Логин:</span>
				</label>
				<input
					id="username"
					name="username"
					type="text"
					required
					class="input input-bordered w-full max-w-xs"
				/>
			</div>

			<div class="form-control w-full max-w-xs">
				<label class="label" for="email">
					<span class="label-text">Электронная почта:</span>
				</label>
				<input id="email" name="email" type="email" required/>
			</div>	

			<div class="form-control w-full max-w-xs">
				<label class="label" for="password">
					<span class="label-text">Пароль:</span>
				</label>
				<input id="password" name="password" type="password" required />
			</div>

			<div class = "form-control w-full max-w-xs">
				<label class = "label" for="phone">
					<span class = "label-text">Номер телефона:</span>
				</label>
				<input id ="phone" name ="phone" type=text required/>
			</div>

			<div class = "form-control w-full max-w-xs">
				<label class = "label" for="FIO">
					<span class = "label-text">Ваше ФИО:</span>
				</label>
				<input id ="FIO" name ="FIO" type=text/>
			</div>


			<div class="card-actions justify-end mt-5">
				<div class = "aagreement">
				<input type= "checkbox" id="agreement" name="agreement" bind:checked = {yes}>
					<label for="agreement">Согласен с пользовательским соглашением</label>
				</div>
				<div class="buttons">
					<a class="btn" href="/">Отмена</a>
					<button class="btn" disabled={!yes} id="sumbit-btn">Выполнить</button>
				</div>
			</div>
		</form>
	</div>
</div>

<style>
	.aagreement
	{
		font-style: italic;
		font-size: 11pt;
	}
	.buttons {
		display: flex;
		justify-content: flex-end;
	}

	.buttons .btn:first-child 
	{
		margin-right: auto;
	}
	.buttons .btn:nth-child(2)
	{
		margin-left: 50%;
		top:40px
	}
</style>