<script>
    import { form_show3 } from '$lib/store.js';
    import { enhance } from '$app/forms';

    /**
	 * @typedef {object} profiledata
	 * @property {string} username
	 * @property {string} userFIO
	 * @property {string} email
     * @property {string} telephone
	 */
	/** @type {profiledata} */
	export let currobj4;
    const onKeyPress = (event) => {
		if (event.code == 'Enter') {
			event.preventDefault();
		}
	};
	const boolean = true

</script>

<div class="modal {$form_show3 ? 'modal-open' : ''}">
    <div class="modal-box">
        <form method="POST" action="?/changeuserdata" use:enhance>
            <p class="py-2">Изменение данных аккаунта</p>
            <div class="mydata">
                <div>
                    <p>Логин</p>
                    <input value={currobj4.username}
                    name="oldusername"
                    id="oldusername"
                    hidden={true}
                    disabled={true}
                    on:keypress={onKeyPress}
                    type="text"/>
    
                    <input value={currobj4.username}
                    name="newusername"
                    id="newusername"
                    on:keypress={onKeyPress}
                    type="text"/>
                </div>

                <div>
                    <p>Почта</p>
                    <input value={currobj4.email}
                    name="oldemail"
                    id="oldemail"
                    hidden={true}
                    disabled={true}
                    on:keypress={onKeyPress}
                    type="text"/>
    
                    <input value={currobj4.email}
                    name="newemail"
                    id="newemail"
                    on:keypress={onKeyPress}
                    type="text"/>
                </div>

                <div>
                    <p>Телефон</p>
                    <input value={currobj4.telephone}
                    name="oldtelephone"
                    id="oldtelephone"
                    hidden={true}
                    disabled={true}
                    on:keypress={onKeyPress}
                    type="text"/>
    
                    <input value={currobj4.telephone}
                    name="newtelephone"
                    id="newtelephone"
                    on:keypress={onKeyPress}
                    type="text"/>
                </div>

                <div>
                    <p>ФИО</p>
                    <input value={currobj4.userFIO}
                    name="olduserFIO"
                    id="olduserFIO"
                    hidden={true}
                    disabled={true}
                    on:keypress={onKeyPress}
                    type="text"/>
    
                    <input value={currobj4.userFIO}
                    name="newuserFIO"
                    id="newuserFIO"
                    on:keypress={onKeyPress}
                    type="text"/>
                </div>

                <div class="btn-container">
                    <button class="btn btn-info mr-4" on:click={(e) => {e.preventDefault(); $form_show3 = false; }}>Отмена</button>
                    <button class="btn btn-info" type="submit" on:click={() => {$form_show3 = false;}}>Изменить</button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .btn-container
    {
        margin-top: 20px;
        display: flex;
    }
</style>