<script>
	import { form_show } from '$lib/store.js';
	import { enhance } from '$app/forms';
  
	export let currobj;
	let isChecked = currobj.MarkingForDeletion;
	const onKeyPress = (event) => {
	  if (event.code === 'Enter') {
		event.preventDefault();
	  }
	};
  
	let inputValue1 = '';
	let inputValue2 = '';
	function handleInputChange1(event) {
	  inputValue1 = event.target.value;
	}
	function handleInputChange2(event) {
	  inputValue2 = event.target.value;
	}
	$: canSubmit2 = inputValue1 && inputValue2;
  
	let form = {
	  text: '',
	  date: ''
	};
	$: canSubmit = form.text && form.date;
  </script>
  
  <div class="modal {$form_show ? 'modal-open' : ''}">
	<div class="modal-box">
	  {#if currobj.ToDo_ID != null}
		<form method="POST" action="?/changetodo" use:enhance>
		  <p class="py-2">Отредактируйте дело:</p>
		  
		  <input
			value={currobj.ToDo_ID}
			name="id"
			hidden={true}
			disabled={currobj.MarkingForDeletion}
			on:keypress={onKeyPress}
			type="text"
		  />
  
		  <input
			class="w-full"
			value={currobj.Task}
			name="Task"
			on:keypress={onKeyPress}
			disabled={currobj.MarkingForDeletion}
			on:input={handleInputChange1}
			type="text"
		  />
  
		  <input
			class="w-full"
			bind:value={currobj.DueDate}
			on:input={handleInputChange2}
			on:keypress={onKeyPress}
			disabled={currobj.MarkingForDeletion}
			type="datetime-local"
			name="dueDate"
		  />
		  <input type="checkbox" name="marking" id="marking" bind:checked={isChecked} bind:value={currobj.MarkingForDeletion}/>
		  Дело выполнено
  
		  <div style="display: flex; justify-content: end;" class="mt-8">
			<button
			  class="btn btn-info mr-4"
			  on:click={(e) => {
				e.preventDefault();
				$form_show = false;
			  }}
			>Закрыть</button>
  
			<button
			  class="btn btn-info"
			  disabled={currobj.MarkingForDeletion}
			  type="submit"
			  on:click={() => {
				$form_show = false;
			  }}
			>Сохранить</button>
		  </div>
		</form>
	  {:else}
		<form method="POST" action="?/changetodo" use:enhance>
		  <p class="py-2">Добавить дело:</p>
		  Задача
		  <input
			class="w-full"
			required={true}
			bind:value={form.text}
			name="Task"
			on:keypress={onKeyPress}
			type="text"
		  />

		  
  
		  Крайняя дата
		  <input
			class="w-full"
			required={true}
			bind:value={form.date}
			on:keypress={onKeyPress}
			type="datetime-local"
			name="dueDate"
		  />
  
		  <div style="display: flex; justify-content: end;" class="mt-8">
			<button
			  class="btn btn-info mr-4"
			  on:click={(e) => {
				e.preventDefault();
				$form_show = false;
			  }}
			>Закрыть</button>
  
			<button
			  class="btn btn-info"
			  type="submit"
			  disabled={!canSubmit}
			  on:click={() => {
				$form_show = false;
			  }}
			>Добавить</button>
		  </div>
		</form>
	  {/if}
	</div>
  </div>