<script>
	import { form_show2 } from '$lib/store.js';
	import { enhance } from '$app/forms';

	/**
	 * @typedef {object} todousers
	 * @property {number} ToDo_ID
	 * @property {string} Task
	 * @property {Date} DueDate
	 */
	/** @type {todousers} */
	export let currobj3;

	const onKeyPress = (event) => {
		if (event.code == 'Enter') {
			event.preventDefault();
		}
	};
	const boolean = true

</script>

<div class="modal {$form_show2 ? 'modal-open' : ''}">
    <div class="modal-box">
        <form method="POST" action="?/delete_todo" use:enhance>
            <p class="py-2">Вы действительно хотите удалить это дело?</p>
            <div style="display: flex; justify-content: end;" class="mt-8">
                <input value={currobj3.ToDo_ID}
                hidden = {true}
				name="id"
				on:keypress={onKeyPress}
				type="text"/>
                <button class="btn btn-info mr-4" on:click={(e) => {e.preventDefault(); $form_show2 = false; }}>Нет</button>
                <button class="btn btn-info" type="submit" on:click={() => {$form_show2 = false;}}>Да</button>
            </div>
        </form>
    </div>
</div>