<script>
	import { enhance } from '$app/forms';
	import { form_show } from '$lib/store.js';
	import { form_show2 } from '$lib/store.js';
	import Modal from '$lib/Comps/modal.svelte';
	import { page } from '$app/stores';
	import { parse } from 'postcss';
	import Modalconfirm from '$lib/Comps/modalconfirm.svelte';
	import { each } from 'svelte/internal';
    
    /**  @type {import('./$types').ActionData} */ 
    export let form;

    export let data;

	$: ({ datausers } = data);
    let formName = $page.form?.loginis; 



</script>

<div>
	{#if $page.form?.loginfound}
		<div class="card w-96 bg-cyan-400 text-primary-content mb-10 mt-5 m-auto">
			<div class="card-body">
				<h2 class="card-title">Смена пароля</h2>

				<form action="?/resetpassword" method="POST">
					<div class="form-control w-full max-w-xs">
					</div>

					<div class="form-control w-full max-w-xs">
						<label class="label" for="password">
						</label>
                        <input id="newlogin" name="newlogin" type="text" value = {formName} hidden = {true} >
                        <span class="label-text">Новый пароль</span>
						<input id="password2" name="password2" type="password" required />
					</div>

					<div class="card-actions justify-end mt-5">
						<a class="btn" href="/">Отмена</a>
						<button class="btn">Выполнить</button>
					</div>
				</form>
			</div>
		</div>
	{:else}
		<div class="card w-96 bg-cyan-400 text-primary-content mb-10 mt-5 m-auto">
			<div class="card-body">
				<h2 class="card-title">Укажите логин</h2>

				<form action="?/findlogin" method="POST">
					<div class="form-control w-full max-w-xs">
						<label class="label" for="username">
							<span class="label-text">Логин:</span>
						</label>
						<input
							id="username"
							name="username"
							type="text"
							required
							class="input input-bordered w-full max-w-xs"
						/>
					</div>
					<div class="card-actions justify-end mt-5">
						<a class="btn" href="/">Отмена</a>
						<button class="btn">Выполнить</button>
					</div>
				</form>
			</div>
		</div>
	{/if}
</div>
